<header class="p-3 bg-success text-dark  bg-opacity-5" style="position: fixed; width: 100%;">
    <div class="container">
        <div class=" text-center">
            <h2> Result Management System 1</h2>
        </div>
    </div>
</header>