<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Details</title>
</head>
<body>
    <!-- partials  -->
    <%- include('./Partials/header.ejs')  %>  
    <section class="vh-100 bg-dark" >
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-5 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-3 text-center">
                            
                            <h3 class="mb-3">ADD</h3>
                            <form action="adddetails?id=<%= username %> " method="post">
                       <p id="error" class="text-danger"> <%= errorMesssage %>  </p> 
                       <div class="form-outline mb-4">
                        <input type="number" id="rollno" class="form-control form-control-lg" placeholder="Roll No" name="rollno" required onclick="changeFunc()"/>
                      </div>
                      
                       <div class="form-outline mb-4">
                        <input type="text" id="Tname" class="form-control form-control-lg" placeholder="Name " name="studentName" required onclick="changeFunc()"/>
                      </div>
          
                      <div class="form-outline mb-4">
                        <input type="text" id="dob" class="form-control form-control-lg" placeholder="Date Of Birth " name="dob" required onclick="changeFunc()"/>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="number" id="tID" class="form-control form-control-lg" placeholder="Score " name="marks" required onclick="changeFunc()"/>
                      </div>
                      
                      <button class="btn btn-primary btn-lg btn-block" type="submit" >Add</button>
                    </form>
                      <a href="session?id=<%= username %>" style="text-decoration: none;"> <button class="btn btn-danger btn-lg btn-block" >Cancel</button> </a> 
                      <hr class="my-4">
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
</body>
<script>
    function changeFunc(){
        document.getElementById('error').style.display = 'none';
    }

</script>
</html>